<h1>SmackOverflow</h1>

<h4>Questions: </h4>

<ul id="question">
    <% @questions.each do |question| %>
        <li id=><a href="questions/<%= question.id %>"><%= question.question %></a>
        <%= link_to 'Edit', edit_question_path(question) %>
        <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></li>
    <% end %>
</ul>
<br>

<%= link_to 'New Question', new_question_path, id: "new_link", remote: true %>


